# Dependencies
/node_modules
/package-lock.json

# Environment Secrets (VERY IMPORTANT - NEVER COMMIT)
.env
.env.local
.env.development
.env.production
.env*

# Testing & Logs
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db